#navbar{
    z-index: 200;
    position: absolute;
    top: 0px;
    width: auto !important;
  
    background-color: black;
}
@media screen and (max-width:900px) {
    
#navbar {
        z-index: 200;
        position: absolute;
        top: 0px;
        width: auto !important;

        background-color: black;
    }
} 
#logo{
    height: 7vh;
    width: 10vh;
}