#intro-section{
    display: flex;
    align-items: center;
    padding: 50px 5%;
    gap: 25px;
    flex-wrap: wrap; 
    flex-direction: row; 
}
#newheader{
    font-size: 50px;
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    width:100%;
    
}
#MLWorkshop{
    width: 450px;
    height: 450px;
    border-radius: 10px;
    text-align: center;
}
#intro{
    padding: 20px 10px;
    align-items: self-start;
    display: flex;
    color: white;
    width: 50%;
}
.start-time{
  font-size: xx-large;
  font-weight: 600;
  text-align: left;
  margin-top: 13px;
}
#description{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100vh;
    width: 100%;
}
#dheader{
    text-align: left;
    margin: 5px 0px;
}
#intro-para{
    text-align: left;
    font-size: larger;
    padding: 5px;
}
#calendar{
    position: relative;
    top: -2px;
}
#bell{
    position: relative;
    top: -1px; 
}

#newevent{
    width: 100%;
    height: 100%;
    padding: 20px 0px;
    margin-bottom: 20px;
}
@media screen and (max-width:1000px){
    #intro-section{
        align-items: center;
        justify-content: left;
       }
       
       #mlbackground{
           height: 200px;
           width: 100vh;
           justify-content: center;
           display: flex;
           align-items: center;
           flex-direction: column;
       
       }
    #newevent{
        
        height: 100vh;
    }
    #intro-section{
        justify-content: center;
    }
    #intro{
        width: 100%;
    }
  
    #mlbackground{
        height: 200vh;
        width: 100vh;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    
    }
    #mainevent{
        
        padding: 0px 0px;
    }
    #mainevent::before{
        content: "";
        
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        opacity: 0.8;
    }
    #mlbackground::before{
        content: "";
        background: url("#");
        height: 0%;
        width: 0%;
    }
   .mlintro {
       color: white;
       display: flex;
       align-items:baseline!important;
       font-size:1.5rem !important;
       font-weight: 600;
       text-align: flex-start;
       z-index: 200;
       display: block;
       width: 100vw !important;
       margin: 0px auto;
   }
        #welcome {
            color: white;
            font-size: 0.9rem !important;
            font-weight: 800;
    
    
        }
                #mlbackground::before {
                    content: "";
                    background: url("https://images.unsplash.com/photo-1535378620166-273708d44e4c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60")center center/cover no-repeat;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 200vh;
                    width: 100vw;
                    z-index: 1;
                    opacity: 0.8;
                }
 
 #MLWorkshop {
     width: 100vw;
     height: 450px;
     border-radius: 10px;
     text-align: center;
 }
 #register-btn {
     width: 7.8rem !important;
    

 }
 #register-btn a{
    text-decoration: none;
    color: black;
 }

}
#register-btn{
    width: 9%;
    color: black;
    background-color: white;
    border: 2px solid white;
    border-radius: 4px;
    height: 4.5%;
    margin-bottom: 40px;
    z-index: 200;
    margin: 10px;
    
}
#reg{
    font-size: 13.9px;
    font-weight: bold;
}
#register-btn:hover{
    background-color: black;
    color: white;

}
#mlbackground{
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;

}
#mlbackground::before{
    content: "";
    background: url("https://images.unsplash.com/photo-1535378620166-273708d44e4c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60")center center/cover no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
}
#welcome{
    color: white;
    font-size: 50px;
    font-weight: 800;
   
    
}
.mlintro{
    color: white;
    font-size: 80px;
    font-weight: 600;
    text-align: center;
    z-index: 200;
    display: block;
    width: 100vh;
    margin: 0px auto;
}
#navbar {
    z-index: 200;
    position: absolute;
    top: 0px;
    width: 100% !important;

    background-color: black;
}



#logo {
    height: 7vh;
    width: 10vh;
}
@media screen and (min-width:200px) {
    
}